<!DOCTYPE html>
<html lang="ja">

{{template "head"}}

<body>

    {{template "header"}}

    <header class="container">
        <div class="row mt-4">
            <div class="col-12 text-center">
                <p class="lead">{{ .UserName }} さんの新しい戦果</p>
            </div>
        </div>
    </header>

    <form id="{{ $.FormID }}" action="{{ $.FormPOSTURL }}" method="post">

        <div class="container">
            <div class="row mt-4">
                <div class="col-4 text-center">
                    <div class="form-group">
                        <label for="{{ $.FormSmall }}">小型</label>
                        <select class="form-control" form="{{ $.FormID }}" id="{{ $.FormSmall }}"
                            name="{{ $.FormSmall }}">
                            {{ range $i, $v := .FormMax }}
                            <option>{{ $i }}</option>
                            {{ end }}
                        </select>
                    </div>
                </div>
                <div class="col-4 text-center">
                    <div class="form-group">
                        <label for="{{ $.FormMedium }}">中型</label>
                        <select class="form-control" form="{{ $.FormID }}" id="{{ $.FormMedium }}"
                            name="{{ $.FormMedium }}">
                            {{ range $i, $v := .FormMax }}
                            <option>{{ $i }}</option>
                            {{ end }}
                        </select>
                    </div>
                </div>
                <div class="col-4 text-center">
                    <div class="form-group">
                        <label for="{{ $.FormLarge }}">大型</label>
                        <select class="form-control" form="{{ $.FormID }}" id="{{ $.FormLarge }}"
                            name="{{ $.FormLarge }}">
                            {{ range $i, $v := .FormMax }}
                            <option>{{ $i }}</option>
                            {{ end }}
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row mt-4">
                <div class="col-12 text-center">
                    <button id="btnSubmit" type="submit" form="{{ $.FormID }}"
                        class="btn btn-sm btn-primary">やっつけた！</button>
                    <button type="button" onclick="history.back()" class="btn btn-sm btn-secondary">もどる</button>
                </div>
            </div>
        </div>

    </form>

    {{template "footer"}}

    <script>
        const btnSubmit = document.querySelector("#btnSubmit");
        const inputS = document.querySelector("#{{ $.FormSmall }}");
        const inputM = document.querySelector("#{{ $.FormMedium }}");
        const inputL = document.querySelector("#{{ $.FormLarge }}");

        const validateValues = () => {
            if (inputS.value + inputM.value + inputL.value > 0) {
                btnSubmit.disabled = false;
                return;
            }
            btnSubmit.disabled = true;
        };

        inputS.addEventListener("change", validateValues);
        inputM.addEventListener("change", validateValues);
        inputL.addEventListener("change", validateValues);

        validateValues();
    </script>
</body>

</html>